.body-container__destination {
  background: url('../assets/images/destination/background-destination-desktop.jpg') no-repeat center center;
  background-size: cover;
  @media screen and (max-width: 900px) {
    background-image: url('../assets/images/destination/background-destination-tablet.jpg');
  }
  @media screen and (max-width: 600px) {
    background-image: url('../assets/images/destination/background-destination-mobile.jpg');
  }
}

.destinations__hero {
  padding-top: 120px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 900px) {
    padding-top: 40px;
  }
}

.destinations__hero--wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 0 118px;
  @media screen and (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
      padding: 0 0 90px;
      gap: 45px;
  }
}

.about__destinations {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /*5 columns out of 12*/
  width: calc((100% * 5 / 12) - (120px / 2));
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 8px;
  @media screen and (max-width: 1200px) {
      width: 100%;
      align-items: center;
      text-align: center;
  }
  @media screen and (max-width: 600px) {
    gap: 20px;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 36px;
  margin-bottom: 24px;
}

.planet-image {
  display: none;
}

.tab-link {
  /*display: none;*/
  position: relative;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px;
  cursor: pointer;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 3.2px;
  
}

.tab-link::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: all 0.4s ease;
  opacity: 1;
  transform: scaleX(0);
}

.tab-link:hover::after {
  transform: scaleX(1);
}


.tab-link.active::after {
  transform: scaleX(1);
}

.divider {
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: 0.2;
  margin: 54px 0 28px;
}