//** Colors **//
$color-primary: #0B0D17;
$color-secondary: #D0D6F9;

//** Fonts **//
$font-barlow: "Barlow", sans-serif;
$font-barlow-condensed: "Barlow Condensed", sans-serif;
$font-barlow-condensed-regular: "Barlow Condensed Regular", sans-serif;
$font-barlow-condensed-bold: "Barlow Condensed Bold", sans-serif;
$font-bellefair: "Bellefair", sans-serif;
